##################
#	STANDARD
##################
*/.DS_Store
*/*.swp
*/*.swo
*.swp
*.swo
*.gch

##################
#	PROG SPEC
##################
.idea
*/.idea

##################
#	PROJECT SPEC
##################
bin/*
*.o
push_swap
push_swap_test
test_dl
.tests
